.generate-quiz,
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: #fffffe;
  font-size: 48px;
  text-align: center;
}

.number,
.category {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 55px;
  border: none;
  border-radius: 5px;
  padding: auto;
  font-size: 24px;
  background-color: #f9bc60;
  color: #001e1d;
  text-align: center;
  cursor: pointer;
}

.container-one,
.container-two {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding: 20px;
  border-style: dotted;
  border-color: #abd1c6;
}

.container-four {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.description {
  display: flex;
  justify-content: left;
  font-size: 18pt;
  font-weight: 400;
  color: #fffffe;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0;
}

.choice-button {
  display: flex;
  justify-content: center;
  width: 210px;
  font-size: 24px;
  background-color: #f9bc60;
  border: none;
  border-radius: 5px;
  color: #001e1d;
  padding: 14px 20px;
  padding: auto;
  margin: 8px 0;
  cursor: pointer;
}

.choice-button-active {
  display: flex;
  justify-content: center;
  width: 210px;
  font-size: 24px;
  background-color: #f9bc60;
  border: dashed;
  border-radius: 5px;
  color: #001e1d;
  padding: 14px 20px;
  padding: auto;
  margin: 8px 0;
  cursor: pointer;
}

.choice-button:hover {
  background-color: white;
}

.submit-button {
  display: flex;
  width: auto;
  font-size: 24px;
  text-align: center;
  background-color: #f9bc60;
  border: none;
  border-radius: 5px;
  color: #001e1d;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}

.submit-button:hover {
  background-color: white;
}
