.generate-quiz, h1 {
  color: #fffffe;
  text-align: center;
  font-size: 64px;
}

.number, .category {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 14px 20px;
  margin: 5px 5px;
  font-size: 32px;
  background-color: #f9bc60;
  color: #001e1d;
  text-align: center;
  
  /* box-shadow: 3px 3px lightyellow; */
  cursor: pointer;
}

.container-one, .container-two, .container-three {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 80px;
  margin-left: 0;
  margin-right: 0;
  width: 90%;
  padding: 14px 20px;
  border-style: dotted;
  border-color: #abd1c6;
}

.container-four {
  display: flex;
  justify-content: flex-end;
  margin: 5px 5px;
  width: 90%;
  padding: 14px 20px;
  text-align: center;
} 

.description {
  display: flex;
  justify-content: left;
  font-size: 18pt;
  color: #fffffe;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 0;
}

.search-button {
  display: flex;
  width: auto;
  font-size: 32px;
  background-color: #f9bc60;
  
  /* box-shadow: inset 0px 5px 10px 0px lightcoral; */
  color: #001e1d;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color:darksalmon;
  /* box-shadow: inset 0px 5px 10px 0px lightcoral;
  transform: translateY(-5px); */
}

.submit-button {
  display: flex;
  width: auto;
  font-size: 32px;
  text-align: center;
  background-color: #f9bc60;
  /* border-radius: 25px;
  box-shadow: inset 0px 5px 10px 0px lightcoral; */
  color: #001e1d;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}

.submit:hover {
  background-color:#f9bc60;
  /* box-shadow: inset 0px 5px 10px 0px lightcoral;
  transform: translateY(-5px); */
}