.landing-page {
  height: 500px;
  width: 800px;
  margin: 5% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.header-text {
  font-weight: 500;
  color: #fffffe;
  font-size: 48px;
  text-align: center;
}

.header-text-subheading {
  font-weight: 400;
  color: #fffffe;
  font-size: 28px;
}

.generate-quiz {
  text-align: center;
  color: #001e1d;
}

.get-started-text {
  font-weight: 400;
  color: #fffffe;
  font-size: 24px;
}

.generate-quiz-button {
  border: none;
  border-radius: 5px;
  background-color: #f9bc60;
  color: #001e1d;
  width: 200px;
  height: 75px;
  font-size: 24px;
}

.generate-quiz-button:hover {
  background-color: white;
}

.view-leaderboard-text {
  font-size: 30px;
  color: rgb(250, 231, 231);
  opacity: 0.4;
  margin-top: 100px;
  border-style: groove;
  padding: 10px
}