td {
    text-align: center;
}

table {
    margin: 50px auto;
    border-collapse: seperate; 
    border-spacing: 0 25px; 
}

thead {
    font-size: 32px;
    color: #fffffe;
}

td {
    width: 200px;
    font-size: 22px;
    color: #fffffe;
}


