.quiz-end-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.congrats-message {
    font-size: 80px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
}

.end-page-bttn {
    border: none;
    border-radius: 5px;
    background-color: #f9bc60;
    color: #001e1d;
    width: 410px;
    height: 150px;
    font-size: 35px;
    margin: 300px;
    margin-top: 250px;
}