.h2 {
  margin-top: auto;
  text-align: left;
  font-size: 50px;
  color: #CAC0B3;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  margin-left: 30%;
  margin-right: 18%;
  padding: 20px;
  text-align: left;
}

input[name] {
  width: 80%;
  padding: 12px 20px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #f9bc60;
  color: #001e1d;
  width: 200px;
  height: 75px;
  font-size: 24px;
  cursor: pointer;
}