.true_false-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.true-false-bttn {
    border: none;
    border-radius: 5px;
    background-color: #f9bc60;
    color: #001e1d;
    width: 400px;
    height: 150px;
    font-size: 40px;
    margin: 0 250px;
}

.true-false-question {
    font-size: 80px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.true-false-bttn:last-child {
    margin-top: 300px;
}

.next-bttn {
    border: none;
    height: 90px;
    border-radius: 5px;
    background-color: #f9bc60;
    color: #001e1d;
    width: 200px;
    font-size: 30px;
    margin: 0 20px;
    margin-top: 350px;
    align-self: flex-end;
}