.question-content {
  margin: 5%;
}

.true-false-heading-text {
  text-align: center;
  color: #fffffe;
  font-size: 48px;
  font-weight: 500;
}

.button-container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 800px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 12%;

  }

.true-false-questions-button {
  border: none;
  border-radius: 5px;
  background-color: #f9bc60;
  color: #001e1d;;
  width: 300px;
  height: 150px;
  font-size: 24px;
  }

.true-false-questions-button-active {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #001e1d;;
  width: 300px;
  height: 150px;
  font-size: 24px;
  text-align: center;
  }

.next-button-container {
  text-align: center;
}

.next-button {
  border: none;
  border-radius: 5px;
  background-color: #f9bc60;
  color: #001e1d;
  width: 200px;
  height: 75px;
  font-size: 24px;
}