.true-bttn {
    background-color: #f9bc60;
    height: 200px;
    width: 500px;
    font-size: 50px;
    margin: 0 auto;
    border-radius: 7px;
    display: flex;
    flex: wrap;
    justify-content: space-between;

}

.false-bttn {
    background-color: #f9bc60;
    height: 200px;
    width: 500px;
    font-size: 50px;
    margin: 200px;
    margin-top: 300px;
    border-radius: 7px;
}

.true-false-question {
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 100px;
    margin-bottom: 0;
    font-weight: 1000;
}

.next-bttn {
    background-color: #f9bc60;
    height: 100px;
    width: 300px;
    font-size: 50px;
    border-radius: 7px;
    margin: 30px;
    margin-top: 2px;
}